[submodule "workloads/llama.cpp"]
	path = workloads/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "lib/qemu"]
	path = lib/qemu
	url = https://github.com/CXLMemUring/qemu
[submodule "workloads/tigon"]
	path = workloads/tigon
	url = https://github.com/CXLMemUring/tigon
[submodule "workloads/osu"]
	path = workloads/osu
	url = https://github.com/forresti/osu-micro-benchmarks
